In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
dataset= pd.read_excel("D:\Study\Machine Learning\OneHotEncoding\dataset1.xlsx")

In [4]:
print(dataset)

     type Urgency severity  priority
0    Task     low    minor       4.0
1    Task     NaN    minor       4.0
2    Task     low    minor       NaN
3    Task     low      NaN       4.0
4    Task     NaN    minor       4.0
..    ...     ...      ...       ...
485  Task     low    minor       4.0
486  Task     low    minor       4.0
487   Bug     low    minor       4.0
488   Bug     low    minor       4.0
489  Task     low    minor       4.0

[490 rows x 4 columns]

In [6]:
dataset.isnull().sum()

type         0
Urgency     14
severity     4
priority    10
dtype: int64

In [9]:
dataset= dataset.dropna()

In [10]:
dataset.isnull().sum()

type        0
Urgency     0
severity    0
priority    0
dtype: int64

In [11]:
en_data =dataset[["type","severity"]]

In [12]:
en_data

     type severity
0    Task    minor
5    Task    minor
8    Task    minor
9    Task    minor
10   Task    minor
..    ...      ...
485  Task    minor
486  Task    minor
487   Bug    minor
488   Bug    minor
489  Task    minor

[462 rows x 2 columns]