In [29]:
import pandas as pd

In [30]:
dataset= pd.read_excel("D:\Study\Machine Learning\OneHotEncoding\dataset1.xlsx")

In [31]:
df=pd.DataFrame({"size":["s","m","l","xl","s","s","m","l","xl","s","m","l","xl","s","m","l","xl"]})
df

   size
0     s
1     m
2     l
3    xl
4     s
5     s
6     m
7     l
8    xl
9     s
10    m
11    l
12   xl
13    s
14    m
15    l
16   xl

In [32]:
ord_data=[["s","m","l","xl"]]

In [33]:
ord_data

[['s', 'm', 'l', 'xl']]

In [34]:
from sklearn.preprocessing import OrdinalEncoder

In [35]:
oe = OrdinalEncoder(categories=ord_data)

In [37]:
df["size_encoded"]=oe.fit_transform(df[["size"]])

In [38]:
df

   size  size_encoded
0     s           0.0
1     m           1.0
2     l           2.0
3    xl           3.0
4     s           0.0
5     s           0.0
6     m           1.0
7     l           2.0
8    xl           3.0
9     s           0.0
10    m           1.0
11    l           2.0
12   xl           3.0
13    s           0.0
14    m           1.0
15    l           2.0
16   xl           3.0

# By map function

In [39]:
ord_data1={"s":10,"m":100,"l":1000,"xl":10000}

In [40]:
df["enc_by_map"]=df["size"].map(ord_data1)

0        10
1       100
2      1000
3     10000
4        10
5        10
6       100
7      1000
8     10000
9        10
10      100
11     1000
12    10000
13       10
14      100
15     1000
16    10000
Name: size, dtype: int64